<!DOCTYPE html>
<html>
    
    <head>
        <title>Home Page</title>
    </head>

    <h1> Home Page </h1>

    <a href="/directory">
        <button>Directory</button>
      </a><br><br><br>

    <a href="/upload">
    <button>Upload</button>
    </a>

</html>